table{
	border: 20px solid white;
	border-collapse: collapse;
	margin: 0 auto;
}
td {
	border: 10px solid black;
	width: 150px;
}
tr{
	height: 100px;
}
tr:nth-child(2){
	height: 200px;
}
tr:nth-child(3){
	height: 200px;
}